<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css">
    <style>
        input {
            font-size: 20px;
            width: 80px;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1>Simple Cal</h1>
            <hr>
            <form action="" method="post">
                <input type="number" name="x" value="{{x}}">
                <input type="number" name="y" value="{{y}}">
                <input type="submit" value="Add">
            </form>
            <h3 class="mt-3">Result is: {{res}}</h3>
        </div>
    </div>
</div>


</body>
</html>